<app version="1.0">
  <name>操作日志</name>

  <description>管理员操作日志管理</description>

  <author>
    <name>shopex开发团队</name>
    <email>dev@shopex.cn</email>
    <url>www.shopex.cn</url>
  </author>

  <version>0.2</version>

  <license>Commercial</license>

  <depends>
      <app>desktop</app>
  </depends>

</app>