<app>
    <name>searchrule</name>
    <description>搜索业务规则</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
	<depends>
		<app>base</app>
		<app>desktop</app>
		<app>search</app>
	</depends>

</app>
