<app version="0.1">
    <name>企业用户中心</name>

    <description>安装、验证、获取企业用户信息</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>

	<depends>
		<app>setup</app>
		<app>desktop</app>
	</depends>
</app>
