img {
  vertical-align: middle; }

.cff {
  color: #FFF; }

.ml5 {
  margin-left: 5px; }

.ml18 {
  margin-left: 18px; }

.ml13 {
  margin-left: 13px; }

.mt22 {
  margin-top: 22px; }

.mb10 {
  margin-bottom: 10px; }

.pt20 {
  padding-top: 20px; }

.pt38 {
  padding-top: 38px; }

.pb38 {
  padding-bottom: 38px; }

.wb-bar {
  height: auto; }

.clearfix {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  clear: both;
  display: block;
  content: "";
  height: 0;
  font-size: 0;
  visibility: hidden; }

.a-bar .wx-login {
  background: #EAEAEA;
  border: 1px solid #DDD;
  display: block;
  height: 33px;
  line-height: 33px;
  width: 100%;
  text-align: center; }

.bind-success {
  text-align: center;
  font-size: 14px; }

.bind-success .title {
  font-size: 18px;
  height: 31px;
  line-height: 31px; }

.article-details {
  padding: 0 20px; }

.article-details .headlines {
  margin: 15px 0; }

.article-details .subject {
  color: #999;
  margin-bottom: 18px; }

.article-details .banner {
  width: 100%;
  height: 159px; }

.article-details .topic {
  padding: 5px 0; }

.topic p {
  margin: 10px 0; }

.account-manager {
  padding: 0 15px; }

.account-manager .check-bar {
  padding: 18px 0 15px;
  line-height: 28px;
  border-bottom: 1px solid #EEE; }

.account-manager .option {
  display: block; }

.account-manager .unbind {
  display: block;
  color: #000;
  cursor: pointer;
  background: #EAEAEA;
  border: 1px solid #DDD;
  width: 68px;
  height: 28px;
  line-height: 28px; }

.account-manager .change {
  margin-top: 20px;
  height: 38px;
  line-height: 38px; }

.change a {
  display: block; }

.unbind-panel .btn {
  height: 30px;
  line-height: 30px; }

.unbind-panel .msg {
  text-align: center; }

.unbind-panel .confirm {
  padding: 10px 24px; }
