<{if $reg_license}>
  <div class="mod article-main">
    <div class="mod-title">
      <h2>会员注册协议</h2>
    </div>
    <div class="mod-content">
      <table width="100%">
        <tr>
          <td><{$reg_license}></td>
        </tr>
      </table>
    </div>
  </div>
<{/if}>

<{if $reg_privacy}>
  <div class="mod article-main">
    <div class="mod-title">
      <h2>隐私保护政策</h2>
    </div>
    <div class="mod-content">
      <table width="100%">
        <tr>
          <td><{$reg_privacy}></td>
        </tr>
      </table>
    </div>
  </div>
<{/if}>

