<app version="1.0">
  <name>内容</name>

  <description>shopex 文章系统</description>

  <author>
	  <name>shopex开发团队</name>
	  <email>dev@shopex.cn</email>
	  <url>www.shopex.cn</url>
  </author>

  <version>0.1</version>

  <license>Commercial</license>
  <depends>
	<app>site</app>
  </depends>

</app>
