<div class="full-screen">
  <header>
    <div class="a-bar">
      <a href="javascript:history.back()" class="a-back"><i class="arr left"></i>返回</a>
      <div class="a-name">找回密码</div>
    </div>
  </header>
  <div class="full-padding">
    <form action="<{link app=b2c ctl='wap_passport' act='retrieve'}>" method="post" class="form" >
      <div class="c-g">
        <input type="text" name="username" class="text" required="required" autofocus placeholder="输入用户名/邮箱/绑定手机号" data-caution="帐号不能为空">
      </div>
      <div class="notice"></div>
      <div class="btn-bar">
        <button type="submit" class="btn" >下一步</button>
      </div>
    </form>
  </div>
</div>
