<app>
    <name>促销--限时抢购</name>
    <description>促销--限时抢购</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

    <depends>
        <app>b2c</app>
    </depends>
</app>
