<app>
    <name>积分功能企业版</name>
    <description>Point professional version</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>

	<depends>
		<app>b2c</app>
	</depends>

</app>
