<app>
    <name>电商通用组件</name>
    <description>ectools电子商务通用功能应用</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.4</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
		<app>desktop</app>
	</depends>
</app>
