<div class="main2_head">
<div class="m2head_4"></div>
</div>
<div class="main2_content">
<div class="login_box">
<form id="form1" name="form1" method="post" action="">
<table width="96%" border="0" align="center" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="2" rowspan="2" align="right" valign="middle">
            <p><img src="images/cps_zccg_03.jpg" width="77" height="75"></p>
            <label></label>
            <p>&nbsp;</p>
            </td>
            <td width="60%" height="40" valign="middle">
            <p class="text_20 text_color2">恭喜你，test01修改成功</p>
            </td>
        </tr>
        <tr>
            <td height="40" valign="middle">
            <p>点击进入 <a href="#" class="text_14 text_color1">账户信息管理</a> 或者 <a href="#" class="text_14 text_color1">我的账户</a></p>
            </td>
        </tr>
    </tbody>
</table>
</form>
</div>
</div>
<div class="clear"></div>