<div class="tableform clearfix" style="border: none; background: none;">
<table width="96%" border="0">
    <tr>
        <th>用户名：</th>
        <td><{$data.u_name}></td>
        <th>E-mail：</th>
        <td><{$data.email}></td>
    </tr>
    <tr>
        <th>网站类型：</th>
        <td><{$data.webtype}></td>
        <th>网站地址：</th>
        <td><{$data.weburl}></td>
    </tr>
    <tr>
        <th>联系人姓名：</th>
        <td><{$data.realname}></td>
        <th>联系电话：</th>
        <td><{$data.mobile}></td>
    </tr>
    <tr>
        <th>通讯地址：</th>
        <td><{$data.addr}></td>
        <th>邮政编码：</th>
        <td><{$data.zipcode}></td>
    </tr>
    <tr>
        <th>注册日期：</th>
        <td><{$data.regtime}></td>
        <th>用户类型：</th>
        <td><{$data.u_type}></td>
    </tr>
    <tr>
        <th>开户银行：</th>
        <td><{$data.acc_bank}></td>
        <th>开户人姓名：</th>
        <td><{$data.acc_person}></td>
    </tr>
    <tr>
        <th>银行账号：</th>
        <td><{$data.account}></td>
        <th>开户支行：</th>
        <td><{$data.acc_bname}></td>
    </tr>
</table>
</div>
