<div class="tableform clearfix" style="border: none; background: none;">
<form action="index.php?app=cps&ctl=admin_users&act=editAccount" method="post"><input type="hidden" name="u_id" value="<{$data.u_id}>">
<table width="96%" border="0">
    <tr>
        <th>开户人姓名：</th>
        <td><input type="text" vtype="required" name="account[acc_person]" class="x-input" value="<{$data.acc_person}>"></td>
        <th>开户银行：</th>
        <td><input type="text" vtype="required" name="account[acc_bank]" class="x-input" value="<{$data.acc_bank}>"></td>
    </tr>
    <tr>
        <th>银行账号：</th>
        <td><input type="text" vtype="required" name="account[account]" class="x-input" value="<{$data.account}>"></td>
        <th>开户支行：</th>
        <td><input type="text" vtype="required" name="account[acc_bname]" class="x-input" value="<{$data.acc_bname}>"></td>
    </tr>
    <{if $data.u_type > 0}>
    <tr>
        <th>公司名称：</th>
        <td><input type="text" vtype="required" name="account[acc_cname]" class="x-input" value="<{$data.acc_cname}>"></td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
    </tr>
    <{/if}>
    <tr>
        <td></td>
        <td>
        <div style="padding-top: 10px;"><{button class="btn" type="submit" label="确定修改"}></div>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
</form>
</div>