<div class="full-screen">
  <header>
    <div class="a-bar">
      <a href="javascript:history.back()" class="a-back"><i class="arr left"></i>返回</a>
      <div class="a-name">修改密码</div>
    </div>
  </header>
  <div class="full-padding">
    <form action="<{link app=b2c ctl='wap_member' full='1' act='save_security'}>" method="post" class="form" data-type="ajax">
      <input name="forward" type="hidden" value="<{$options.url}>">
      <div class="c-g">
        <label for="" class="c-l">
          <em class="f-red">*</em>旧密码：
        </label>
        <div class="c">
          <input type="password" name="old_passwd" class="text a-account" required="required" autofocus data-caution="密码不能为空">
        </div>
      </div>
      <div class="notice"></div>
      <div class="c-g">
        <label for="" class="c-l">
          <em class="f-red">*</em>新密码：
        </label>
        <div class="c">
          <input type="password" name="passwd" maxlength="20" placeholder="6-20位数字/字母组合" required="required" pattern=".{6,20}" class="text" data-caution="密码不能为空">
        </div>
      </div>
      <div class="c-g">
        <label for="" class="c-l">
          <em class="f-red">*</em>再输一次：
        </label>
        <div class="c">
          <input type="password" name="passwd_re" maxlength="20" placeholder="6-20位数字/字母组合" required="required" pattern=".{6,20}" class="text" data-caution="密码不能为空">
        </div>
      </div>
      <div class="notice"></div>
      <div class="btn-bar">
        <button type="submit" class="btn orange" rel="_request">提交</button>
      </div>
    </form>
  </div>
</div>
