<app>
    <name>基础系统</name>
	<description>基本的MVC框架。带有队列，key-value存储接口。类smarty的模版系统</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.21</version>
    <license>shopex license</license>
</app>
